// Color
// $body-dark : #332d3f; 
// $body-light : #463b61; 
// $wrapper-dark : #1b1827;
// $wrapper-light : #2e283e;

// $body-dark : #2d343f; 
// $body-light : #3b5061; 
// $wrapper-dark : #181f27;
// $wrapper-light : #282e3e;

// $body-dark : #3d4874; 
$body-dark : #202644; 
$body-light : #6270a7; 
$wrapper-dark : #1f2847;
$wrapper-light : #343e6d;
$online : #31a24c;

$text-dark : #717171;
$text-semi-light : #949494;
$text-light: #BABABA;

$body-linear-gradiant : linear-gradient(135deg, $body-light, $body-dark);
$wrapper-linear-gradiant : linear-gradient(135deg, $wrapper-light, $wrapper-dark);