@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
::-webkit-scrollbar {
  width: 5px;
  border-radius: 50%;
}

::-webkit-scrollbar-thumb {
  background-color: #6270a7;
  border-radius: 15px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #717171;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}

.wrapper {
  width: 80%;
  height: 80%;
  overflow-y: auto;
  background: whitesmoke;
  border-radius: 20px;
  box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1), 0 -15px 35px rgba(0, 0, 0, 0.1), 0 15px 35px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
@media screen and (max-width: 850px) {
  .wrapper {
    padding: 0;
    width: auto;
    height: 100%;
    box-shadow: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  background: #e7e7e7;
  border: none;
  height: 1px;
}

.left-side {
  position: sticky;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (max-width: 1200px) {
  .left-side {
    display: none;
  }
}
.left-side .user-info {
  background: white;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
}
.left-side .user-info .user-picture {
  cursor: pointer;
}
.left-side .user-info .user-picture img {
  display: block;
  border-radius: 15px;
  border: 2px solid #6270a7;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1400px) {
  .left-side .user-info .user-picture img {
    width: 30px;
    height: 30px;
    border-radius: 10px;
  }
}
.left-side .user-info .user-name {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.left-side .user-info .user-name strong {
  color: #717171;
  font-size: 17px;
}
@media screen and (max-width: 1400px) {
  .left-side .user-info .user-name strong {
    font-size: 15px;
  }
}
.left-side .user-info .user-name span {
  font-size: 13px;
  color: #BABABA;
}
.left-side .navigation {
  background: white;
  border-radius: 15px;
}
.left-side .navigation ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #717171;
  font-size: 17px;
}
@media screen and (max-width: 1400px) {
  .left-side .navigation ul li {
    font-size: 13px;
  }
}
.left-side .navigation ul li:not(:last-child) {
  border-bottom: 1px solid whitesmoke;
}
.left-side .navigation ul li:hover {
  background: whitesmoke;
}
.left-side .navigation ul li.active {
  color: #6270a7;
  font-weight: 600;
  background: white;
  border-left: 2px solid #6270a7;
}
.left-side .navigation ul li.active .nav-link {
  color: #6270a7;
}
.left-side .navigation ul li .navigation-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.left-side .navigation ul li .navigation-item i {
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .left-side .navigation ul li .navigation-item i {
    font-size: 15px;
  }
}
.left-side .navigation ul li .navigation-item a {
  flex-grow: 1;
}
.left-side .navigation ul li .navigation-item span {
  background: #6270a7;
  color: white;
  font-size: 13px;
  padding: 0 0.8rem;
  border-radius: 15px;
}
@media screen and (max-width: 1400px) {
  .left-side .navigation ul li .navigation-item span {
    padding: 0 0.5rem;
    font-size: 10px;
  }
}
.left-side .notification {
  overflow-y: hidden;
  background: white;
  border-radius: 15px;
}
.left-side .notification hr {
  margin-bottom: 0;
}
.left-side .notification .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
  color: #717171;
}
.left-side .notification .title i {
  cursor: pointer;
}
.left-side .notification ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 15px;
}
.left-side .notification ul li:not(:last-child) {
  border-bottom: 1px solid whitesmoke;
}
.left-side .notification ul li:hover {
  background: whitesmoke;
}
.left-side .notification ul li .notification-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: relative;
}
.left-side .notification ul li .notification-item .notif-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: #949494;
}
@media screen and (max-width: 1400px) {
  .left-side .notification ul li .notification-item .notif-info {
    font-size: 13px;
    line-height: 0.9rem;
  }
}
.left-side .notification ul li .notification-item .notif-info .date-time-notif {
  font-size: 13px;
  color: #BABABA;
  position: relative;
}
@media screen and (max-width: 1400px) {
  .left-side .notification ul li .notification-item .notif-info .date-time-notif {
    font-size: 11px;
  }
}
.left-side .notification ul li .notification-item .notif-info .badge::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6270a7;
  border: 2px solid white;
  top: 0;
  right: 0;
}
.left-side .notification ul li .notification-item .new {
  color: #717171;
}
.left-side .notification ul li .notification-item .friend-picture-notification img {
  width: 60px;
  height: 60px;
  display: block;
  border-radius: 15px;
}
@media screen and (max-width: 1400px) {
  .left-side .notification ul li .notification-item .friend-picture-notification img {
    width: 40px;
    height: 40px;
  }
}
.left-side .notification:hover {
  overflow-y: auto;
  overflow-y: overlay;
}

.main {
  flex-grow: 1;
  width: 50%;
  height: 100%;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (max-width: 1400px) {
  .main {
    padding: 2rem;
  }
}
.main .searchbar {
  background: white;
  padding: 10px;
  border-radius: 10px;
  color: #949494;
  display: flex;
  align-items: center;
}
.main .searchbar input {
  background: none;
  outline: none;
  border: none;
  flex-grow: 1;
  color: #949494;
}
.main .searchbar input::placeholder {
  color: #BABABA;
}
.main .story .cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 200px;
  column-gap: 1rem;
}
@media screen and (max-width: 850px) {
  .main .story .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
.main .story .cards .card {
  background: #BABABA;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  width: 100%;
}
.main .story .cards .card:not(:first-child) {
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .main .story .cards .card:last-child {
    display: none;
  }
}
.main .story .cards .card .friend-picture-story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .story .cards .card .friend-picture-story span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.4);
}
.main .story .cards .card .friend-profile-picture {
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 40px;
  top: 10px;
  left: 10px;
  border-radius: 15px;
  border: 3px solid rgba(255, 255, 255, 0.2);
}
.main .story .cards .card .friend-name-story {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: whitesmoke;
  font-size: 13px;
}
@media screen and (max-width: 850px) {
  .main .story .cards .card .friend-name-story {
    font-size: 12px;
  }
}
.main .story .cards .card .btn-add {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.8rem 1rem;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  color: #717171;
  font-size: 13px;
  border-radius: 15px;
  border: 3px solid rgba(51, 51, 51, 0.2);
}
.main .story .cards .card .add-story {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  color: whitesmoke;
  font-size: 13px;
}
@media screen and (max-width: 850px) {
  .main .story .cards .card .add-story {
    font-size: 12px;
  }
}
.main .feed {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.main .feed .post-message {
  background: white;
  padding: 10px 1rem;
  border-radius: 10px;
  color: #949494;
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.main .feed .post-message input {
  background: none;
  outline: none;
  border: none;
  flex-grow: 1;
  color: #949494;
}
.main .feed .post-message input::placeholder {
  color: #BABABA;
}
.main .feed .post-message img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}
.main .feed .post-message .btn-post {
  cursor: pointer;
  outline: none;
  border: none;
  background: #6270a7;
  color: white;
  padding: 8px 10px;
  border-radius: 8px;
}
@media screen and (max-width: 850px) {
  .main .feed .post-message .btn-post {
    font-size: 10px;
  }
}
.main .feed .feed-post {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 2rem;
}
.main .feed .feed-post .friend-post {
  background: white;
  padding: 1rem;
  border-radius: 15px;
}
.main .feed .feed-post .friend-post .friend-post-info {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.main .feed .feed-post .friend-post .friend-post-info img {
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
.main .feed .feed-post .friend-post .friend-post-info .friend-name-date-time-post {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.main .feed .feed-post .friend-post .friend-post-info .friend-name-date-time-post .friend-name-post {
  color: #717171;
}
@media screen and (max-width: 850px) {
  .main .feed .feed-post .friend-post .friend-post-info .friend-name-date-time-post .friend-name-post {
    font-size: 14px;
  }
}
.main .feed .feed-post .friend-post .friend-post-info .friend-name-date-time-post .date-time-friend-post {
  font-size: 13px;
  color: #BABABA;
}
@media screen and (max-width: 850px) {
  .main .feed .feed-post .friend-post .friend-post-info .friend-name-date-time-post .date-time-friend-post {
    font-size: 12px;
  }
}
.main .feed .feed-post .friend-post .friend-post-info .post-settings {
  color: #949494;
  cursor: pointer;
}
.main .feed .feed-post .friend-post .friend-post-content .friend-post-message {
  color: #717171;
}
@media screen and (max-width: 850px) {
  .main .feed .feed-post .friend-post .friend-post-content .friend-post-message {
    font-size: 13px;
  }
}
.main .feed .feed-post .friend-post .friend-post-content .friend-post-picture {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}
.main .feed .feed-post .friend-post .friend-post-content .friend-post-picture img {
  max-width: 100%;
}
.main .feed .feed-post .friend-post .post-control {
  display: flex;
  margin-bottom: 0.5rem;
}
.main .feed .feed-post .friend-post .post-control .btn-post-control {
  width: 100%;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  color: #717171;
  padding: 0.5rem 0;
}
.main .feed .feed-post .friend-post .post-control .btn-post-control:hover {
  background: whitesmoke;
}
@media screen and (max-width: 850px) {
  .main .feed .feed-post .friend-post .post-control {
    font-size: 12px;
  }
}
.main .feed .feed-post .friend-post .comment-post {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.main .feed .feed-post .friend-post .comment-post img {
  border-radius: 10px;
  width: 35px;
  height: 35px;
}
.main .feed .feed-post .friend-post .comment-post .input-comment {
  background: whitesmoke;
  padding: 10px 1rem;
  border-radius: 10px;
  color: #949494;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  width: 100%;
}
.main .feed .feed-post .friend-post .comment-post .input-comment input {
  background: none;
  outline: none;
  border: none;
  flex-grow: 1;
  color: #949494;
}
.main .feed .feed-post .friend-post .comment-post .input-comment input::placeholder {
  color: #BABABA;
}
.main .feed .feed-post .friend-post .comment-post .input-comment .comment-control {
  display: flex;
  column-gap: 1rem;
}
.main .feed .feed-post .friend-post .comment-post .input-comment .comment-control i {
  cursor: pointer;
}
.main .feed .feed-post .friend-post .comment-post .input-comment .comment-control i:first-child {
  display: none;
}
@media screen and (max-width: 850px) {
  .main .feed .feed-post .friend-post .comment-post .input-comment .comment-control i:first-child {
    display: block;
  }
  .main .feed .feed-post .friend-post .comment-post .input-comment .comment-control i:not(:first-child) {
    display: none;
  }
}

.right-side {
  position: sticky;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media screen and (max-width: 1400px) {
  .right-side {
    display: none;
  }
}
.right-side .friend {
  overflow-y: hidden;
  background: white;
  border-radius: 15px;
}
.right-side .friend hr {
  margin-bottom: 0;
}
.right-side .friend strong {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
  color: #717171;
}
.right-side .friend ul li {
  padding: 5px 1rem;
  cursor: pointer;
}
.right-side .friend ul li:hover {
  background: whitesmoke;
}
.right-side .friend ul li .friend-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.right-side .friend ul li .friend-item .friend-picture {
  position: relative;
  display: flex;
}
.right-side .friend ul li .friend-item .friend-picture img {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}
.right-side .friend ul li .friend-item .friend-picture span.active {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #31a24c;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  border: 3px solid white;
}
.right-side .friend ul li .friend-item .friend-name {
  flex-grow: 1;
  color: #717171;
  font-size: 15px;
}
.right-side .friend:hover {
  overflow-y: auto;
  overflow-y: overlay;
}
.right-side .message {
  overflow-y: hidden;
  background: white;
  border-radius: 15px;
}
.right-side .message hr {
  margin-bottom: 0;
}
.right-side .message .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0 1rem;
  color: #717171;
}
.right-side .message .title i {
  cursor: pointer;
}
.right-side .message ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #949494;
  font-size: 15px;
}
.right-side .message ul li:not(:last-child) {
  border-bottom: 1px solid whitesmoke;
}
.right-side .message ul li:hover {
  background: whitesmoke;
}
.right-side .message ul li .message-item {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  position: relative;
}
.right-side .message ul li .message-item .message-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.right-side .message ul li .message-item .message-info .friend-name-message {
  font-size: 14px;
}
.right-side .message ul li .message-item .message-info .new {
  color: #717171;
}
.right-side .message ul li .message-item .message-info .message-content {
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.right-side .message ul li .message-item .message-info .date-time-message {
  font-size: 13px;
  color: #BABABA;
}
.right-side .message ul li .message-item .friend-picture-message img {
  display: block;
  border-radius: 15px;
}
.right-side .message ul li .badge::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6270a7;
  top: 0;
  right: 0;
}
.right-side .message:hover {
  overflow-y: auto;
  overflow-y: overlay;
}
.right-side .conversation {
  background: white;
  height: 100%;
  border-radius: 15px;
  position: relative;
  overflow-y: hidden;
  display: none;
  flex-direction: column;
}
.right-side .conversation img {
  border-radius: 10px;
  width: 35px;
  height: 35px;
}
.right-side .conversation .friend-name-conversation {
  background: #6270a7;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  color: whitesmoke;
}
.right-side .conversation .friend-name-conversation span {
  flex-grow: 1;
}
.right-side .conversation .friend-name-conversation i {
  cursor: pointer;
}
.right-side .conversation .conversation-content {
  overflow-y: auto;
  overflow-y: overlay;
  flex-grow: 1;
  padding: 0.5rem 1rem;
}
.right-side .conversation .conversation-content .conversation-message {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.right-side .conversation .conversation-content .conversation-message .conversation-message-item {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  font-weight: 300;
}
.right-side .conversation .conversation-content .conversation-message .conversation-message-item .message-from-friend {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  background: #e2e2e2;
  color: #717171;
  align-self: flex-start;
}
.right-side .conversation .conversation-content .conversation-message .conversation-message-item .message-to-friend {
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 15px;
  background: #6270a7;
  color: whitesmoke;
  align-self: flex-end;
}
.right-side .conversation .input-message {
  background: white;
  padding: 0.5rem;
  border-top: 1px solid whitesmoke;
}
.right-side .conversation .input-message .input-control {
  background: whitesmoke;
  padding: 10px 1rem;
  border-radius: 10px;
  color: #949494;
  display: flex;
  align-items: center;
}
.right-side .conversation .input-message .input-control input {
  background: none;
  outline: none;
  border: none;
  flex-grow: 1;
  color: #949494;
}
.right-side .conversation .input-message .input-control input::placeholder {
  color: #BABABA;
}
.right-side .conversation .input-message .input-control .message-control {
  display: flex;
}
.right-side .conversation .input-message .input-control .message-control i {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
